# Dependencies
node_modules

# Expo
.expo
android
ios

# Build outputs
dist
build
.turbo

# Logs
*.log

# Environment
.env*

# Lock files
yarn.lock
pnpm-lock.yaml
package-lock.json

# Coverage
coverage

