@import 'tailwindcss';
@import 'tippy.js/dist/tippy.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

* {
  overscroll-behavior: contain;
}

@keyframes bounce-x-left {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
}

@keyframes bounce-x-right {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
}

.animate-bounce-x-left {
  animation: bounce-x-left 0.5s ease-in-out;
}

.animate-bounce-x-right {
  animation: bounce-x-right 0.5s ease-in-out;
}
